div(ng-show='true' flex='' layout='row' layout-align='center')
    .section(id='{{step.id}}' flex='50' layout='column' layout-align='start start')
        h2(flex='1') EAR(S) à déployer ?
        form(flex='1')
            div(ng-repeat='ear in ears')
                div
                    em
                        h4 {{ ear.name }}
                md-button.md-raised(ng-repeat='version in ear.versions' ng-click='addEAR(ear.id, version)') {{ version }}
