div(layout='column' ng-cloak='')
    div(flex='75' layout='row' layout-align='space-around none')
        md-button.md-raised(ng-class='{"md-warn": home.proxy.up === false, "md-primary": home.proxy.up === undefined, "md-accent": home.proxy.up === true}' ng-click='home.showProxyInfos($event)') Proxy ({{ home.proxy.host }}) 
            span(ng-if='home.proxy.up === false') 
                | : 
                md-icon
                    i.material-icons mood_bad
            span(ng-if='home.proxy.up === true') 
                | : 
                md-icon
                    i.material-icons mood
        md-button.md-raised.md-primary(ng-click='home.doLogout()') Déconnexion
    div(flex='75' layout='row' layout-align='center')
