div(ng-show='true' flex='' layout='row' layout-align='center')
    .section(id='{{step.id}}' flex='50' layout='column' layout-align='start start')
        h2(flex='1') Version SNAPSHOT ?
        form(flex='1')
            md-button.md-raised(ng-class='{"md-accent": config.snapshot === true}' ng-click='selectSnapshot(true)') Oui
            md-button.md-raised(ng-class='{"md-accent": config.snapshot === false}' ng-click='selectSnapshot(false)') Non
        //- div(flex='1' layout='row' layout-align='center')
        //-     md-button.md-fab.md-accent(ng-click='goToBeforeStep()')
        //-         md-icon
        //-             i.material-icons arrow_backward
        //-     md-button.md-fab.md-accent(ng-disabled='config.snapshot === null' ng-click='goToNextStep()') 
        //-         md-icon
        //-             i.material-icons arrow_forward
